<%- include("../partials/header") %>
<h1>this is sign up</h1>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="firstname" placeholder="Firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="email" name="email" placeholder="email">
    <input type="number" name="phonenumber" placeholder="phonenumber">
    <input type="text" name="avatar" placeholder="image">

    <button>signUp</button>

</form>
<%- include("../partials/footer") %>