<%- include("partials/header") %>
<h1>this is the landing page</h1>
<P>Welcome to yelpCamp</P>

<div class="card">
    <a href="/campgrounds">View camps </a>
    <p id=""></p>




</div>


<%- include("partials/footer") %>